<!DOCTYPE html>

<!--
CODING DOJO
VERSION: FULL STACK PYTHON
AÑO: 2021
CURSO: 014
PROYECTO ENMARCADO DENTRO DE LA BECA TALENTO DIGITAL
Coordinación: Matías Bensan
Profesor: Matías "Lagman" Bensan
Alumnos:
- Andrea Mendez     - Francisca Ljubetic    - Paula Aguilar
- Nicole Araya      - Diego Jeria           - Moriak Nuñez
- Juan Díaz         - Rodrigo Elgueta       - Anthony González
- Rodrigo Latorre   - Patricio Fuentealba   - Rubén Cid
- Diego Jeria       - Roberto Alfaro        - José M Mendez
- Octavio Opazo     - Rodrigo Marquez       - Vicente Hernandez
- otros..
======================================================
LA COMUNILAG DE BENSAN
======================================================

"Mira hacia atrás y siéntete orgulloso de lo que has logrado. Mira hacia adelante y crea el brillante futuro que tanto mereces..""
-->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
</head>

<body style="background: rgba(0,0,0,0.3)">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/home"><i>Travel Buddy</i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
                <div class="d-flex ms-auto">
                    <a class="btn btn-outline-warning" href="/home">Back</a>
                    <a class="btn btn-outline-success ms-4" href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        {% block contenido %}
        
        {% endblock %}
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        toastr.options = {
            "closeButton": true,
            "progressBar": true,
        }

        {% if messages %} 
            {% for message in messages %}
                toastr. {{message.tags}}("{{ message }}")
            {% endfor %}
        {% endif %}

        {% block libreria %}

        {% endblock %}
    </script>

</body>

</html>