{% extends "base.html" %} {% block titulo %}Travel Details{% endblock %} {% block contenido %}

<div class="container">
    <div class="row" style="background-image: url('https://as01.epimg.net/deporteyvida/imagenes/2019/02/20/portada/1550685264_115200_1550686371_sumario_normal.jpg');  background-size:cover; background-repeat:no-repeat; height:650px">
        <div class="mask my-5 p-3" style="background-color: rgba(255,255,255,0.4); ">
            <h2 class="mt-4" style="color:rgb(5, 71, 21)">
                <i class="bi bi-geo-alt"></i>
                <b>{{travel.destination}}</b>
            </h2>
            <hr>
            <h5>Planned by: <i><b>{{travel.creator.name}}</b></i></h5>
            <h5>Description: {{travel.description}}</h5>
            <h5>Travel Date From: {{travel.start_date}}</h5>
            <h5>Travel Date To: {{travel.end_date}}</h5>
            <hr>

            <div class="col-5 p-3 ">
                <button type="button " class="btn btn-dark btn-sm">
                    <a style="color:dodgerblue; text-decoration: none; " href="/add ">Add a new adventure</a>
                </button>
            </div>
        </div>
        <div class="mask mt-1 p-3" style="background-color: rgba(255,255,255,0.4);">
            <h3 style="color:rgb(5, 12, 71)">Other Users Joining the Trip:</h3>
            {% for user in travel.travellers.all %} {% if user.name != request.session.user.name %}
            <ul>
                <hr>
                <li>
                    <h5 style="color:rgb(5, 71, 21)"><i>{{user.name}}</i></h5>
                </li>
                <hr>
            </ul>
            {% endif %} {% endfor %}
        </div>
    </div>
</div>
{% endblock %} {% block libreria %} {% endblock %}